/* Created by Arav Jain on 7/2/2024 */

body {
    background-color: #1A202C;
}

.blinking-cursor {
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
